.sidenav-container {
  position: relative;
  height: 100%;
  display: block;
  transform: inherit;
}

button {
  margin-right: 1em;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
